.maindiv{
    display: flex;
    margin-top: 10rem;
}
.imgdiv{
    margin-left: 6rem;
    animation: up-down 2s infinite alternate-reverse both;
}

@-webkit-keyframes up-down{
    0%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(-10px);
    }
}

@keyframes up-down{
    0%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(-10px);
    }
}
